/* Variables */

$color-light: #f3f3f3;
$color-light-opacity: #f3f3f377;
$color-dark: #323232;
$color-dark-gray: #2c3e50;
$color-player-win: rgba(46,204,113,1);
$color-computer-win: rgba(231,76,60,1);

$text-main: 'IBM Plex Mono', monospace;

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $text-main;
}

/* Globals */

body {
    background-image: url("../images/prism.png");
    background-color: $color-dark;
    background-repeat: repeat;
    color: $color-light;
}

.container {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 660px;
}

@media (max-width: 680px) {
    .container {
        max-width: 100%;
    }
}

/* Header */

header {
    border-top: 1px solid $color-light-opacity;
    border-bottom: 1px solid $color-light-opacity;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultBar {
    border-top: 10px solid $color-dark-gray;
    border-bottom: 10px solid $color-dark-gray;
    background: rgb(46,204,113);
    background: linear-gradient(90deg, $color-player-win 50%, $color-computer-win 50%);
    position: relative;
    height: 100px;

    .resultCounter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ecf0f1bb;
        border-radius: 10px;
        border: 3px solid #7f8c8d;

        div {
            width: 33.3333%;
            text-align: center;
            color: $color-dark;
            font-size: 50px;
            font-weight: 500;
        }
    }
}

/* Main */

main {
    
    .container {
        border: 1px solid $color-light-opacity;
        border-radius: 10px;
        height: calc(100vh - 280px);
        min-height: 660px;
    }

    .wrapper {   
        border: 10px solid $color-dark-gray;
        background-color: #d35400;
        padding: 30px;
        border-radius: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .image {
        width: 80%;
        border-radius: 15px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    #buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .buttonWrapper {
        width: 27%;
        padding: 0 15px;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    .buttonBorder {
        border: 1px solid $color-light;
        border-radius: 500px;
        margin-bottom: 15px;
        transition: all .2s;
    }

    .imgWrapper {
        background-color: #ffffff;
        width: calc(100% - 20px);
        padding-bottom: calc(100% - 20px);
        position: relative;
        overflow: hidden;
        border-radius: 500px;
        transition: all 0.2s;
        cursor: pointer;
        border: 10px solid $color-dark-gray;
        box-sizing: content-box;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            transition: all 0.2s;
        }
    }

    .buttonBorder:hover {
        transform: scale(0.9);
        border: 4px solid $color-light;
    }

    .buttonBorder:hover img {
        width: 120%;
    }


}